:root {
    --white:        #ffffff;
    --black:        #000000;
    --red:          #F00000;
    --light-red:    #FF0000;
    --dark-blue:    #00405B;
    --dark-gray:    #717171;
    --light-gray:   #C5C5C5;
    --orange:       #DF7800;
    --light-green:  #E3FFE6;
    --dark-green:   #008F28; 
}